__pycache__
.history
.hypothesis/
build/
artifacts/
reports/
node_modules/
.DS_STORE
.env
cache
local.json
.pytest_cache
docs
docs/
contracts-temporary
flatten
flatten/

run-testnet.sh
keeper.sh
rewards.sh

rewards_output.log
rewards_output_test.log
rewards-*.json

deploy-1337final.json

# vim swap files
*.swp
