__pycache__
.venv
.history
.hypothesis/
build/
artifacts/
reports/
node_modules/
.DS_STORE
.env
cache
local.json
.pytest_cache
docs
# gov timelock transaction files
timelock/

contracts-temporary

flatten

run-testnet.sh
keeper.sh
earn.sh
harvest.sh
tend.sh
rewards.sh

earn_output.log
tend_output.log
harvest_output.log
rewards_output.log
rewards_output_test.log
rewards-*.json

deploy-1337final.json

# vim swap files
*.swp

venv
.vscode
.idea
