__pycache__
.history
.hypothesis/
build/
artifacts/
reports/
node_modules/
.DS_STORE
.env
cache
run-testnet.sh
local.json
.pytest_cache
docs
docs/
contracts-temporary
merkle/
badger_deployer_keystore.json
badger_guardian_keystore.json
badger_keeper_keystore.json

rewards-*.json
rewards_output.log
keeper.sh
rewards.sh